[submodule "bundle/NERD_tree"]
	path = bundle/NERD_tree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/NERD_commenter"]
	path = bundle/NERD_commenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/cucumber"]
	path = bundle/cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = git://github.com/mileszs/ack.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/cucumber_tables/plugin"]
	path = bundle/cucumber_tables/plugin
	url = git://gist.github.com/287147.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "bundle/color_sampler_pack"]
	path = bundle/color_sampler_pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/scroll_colors"]
	path = bundle/scroll_colors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/json"]
	path = bundle/json
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule "vim-pastie"]
	path = vim-pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule "bundle/pastie"]
	path = bundle/pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule "bundle/bufkill"]
	path = bundle/bufkill
	url = git://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/textobj-user"]
	path = bundle/textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "bundle/textobj-rubyblock"]
	path = bundle/textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = git://github.com/wincent/Command-T.git
